html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main,
.main {
    flex-grow: 1;
}

/* Общий стиль для всей полосы */
::-webkit-scrollbar {
    width: 10px;
    /* Ширина вертикальной полосы */
    height: 10px;
    /* Высота горизонтальной полосы */
}

/* Фон полосы прокрутки */
::-webkit-scrollbar-track {
    background: #e9eaeb;
    border-radius: 10px;
    margin-left: 9px;
}

/* Бегунок (ползунок) */
::-webkit-scrollbar-thumb {
    background: var(--primary-color-bg);
    border-radius: 10px;
    margin-left: 9px;
}

/* При наведении */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-bg);
    margin-left: 9px;
}

@media screen and (max-width: 1320px) {
    .container-fluid {
        padding: 0 19px;
    }
}

.border-light {
    border-color: var(--bs-border-light);
}

.rounded-4-1 {
    border-radius: 1.125rem;
}

/* -------------line height------------------- */
.lh-sm {
    line-height: 1.4;
}

p {
    margin-bottom: 1.5rem;
}

.text-color-prymary {
    color: var(--primary-color-bg);
}

/* -------------end line height------------------- */

/* pdiings */

.padding-y-base {
    padding: var(--padding-base-y) 0;
}

@media screen and (max-width: 991px) {
    .padding-y-base {
        padding: var(--padding-base-y-mobile) 0;
    }
}

/* border */
.border-base {
    border: var(--border-base);
}

.bg-info {
    background: var(--bg-info) !important;
}

/* стилизация контакта в header */
.contact-info {
    border: 1px solid var(--bs-border-light);
    padding: 6px 19px 6px 12px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: var(--header-color);
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .contact-info {
        padding: 8px 22px 8px 18px;
        background: #3e3e3e;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 97px;
        margin-bottom: 12px;
        display: flex;
    }
}

@media screen and (max-width: 991px) {
    .contact-info {
        color: var(--mobile-menu-color);
    }
}

/*-------------- Headers --------------------*/

h1,
.h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 120%;
    text-transform: uppercase;
}

h2,
.h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 28px;
    letter-spacing: 0.015em;
}

h3,
.h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 149.99%;
    margin-bottom: 28px;
}

a {
    text-decoration: none;
    color: var(--primary-color-bg);
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 2.5rem;
}

blockquote {
    padding: 25px 33px;
    display: flex;
    margin-left: 15px;
    position: relative;
    background: var(--bg-info-2);
    border: var(--border-content);
    border-top-right-radius: var(--rounded-base);
    border-bottom-right-radius: var(--rounded-base);
}

blockquote::before {
    min-height: 100%;
    width: 15px;
    background-color: var(--primary-color-bg);
    content: "";
    display: block;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: -15px;
}

small {
    font-size: 16px;
    line-height: 154.62%;
    color: #8d8d8d;
    margin-bottom: 1.5rem;
    display: block;
}

@media screen and (max-width: 991px) {
    h1,
    .h1 {
        font-size: 19px;
        line-height: var(--line-height-sm);
    }

    h2,
    .h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 175%;
        letter-spacing: -0.02em;
    }
}

/*--------------- End headers------------------ */
.text-info {
    color: var(--text-gray) !important;
}

.text-primary {
    color: var(--text-prymary) !important;
}

/*-------------- Buttons --------------------*/
.btn-primary {
    background-color: var(--primary-color-bg);
    color: var(--primary-color);
    line-height: 1;
    padding: 12px 50px;
    border-radius: var(--rounded-base);
}

/*--------------- End buttons------------------ */
/* ---------------------------Form==================== */
.form-check-input {
    font-size: 14px;
    line-height: 140%;
}

.form-control {
    padding: 0.375rem 1rem;
}

textarea.form-control {
    resize: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--primary-color-bg);
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.was-validated .form-control:invalid::placeholder {
    color: var(--bs-form-invalid-color);
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: inherit;
}

textarea.form-control {
    min-height: 80px;
}

.form-check-input {
    height: 16px;
    width: 16px;
}

.form-check-input,
.form-check-input:focus {
    margin-right: 9px;
    border: 1px solid var(--bg-secondary);
}

.form-check-input:checked[type="checkbox"],
.form-check-input:focus {
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked,
.form-check-input:checked[type="checkbox"] {
    background-color: var(--bg-secondary);
}

.form-check-input {
    display: none;
}

.form-check-label {
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
}

.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
    color: var(--bs-form-invalid-color) !important;
}

.form-check-label::before {
    content: "✔";
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid var(--primary-color-bg);
    border-radius: 4px;
    margin-right: 9px;
}

.form-check-input:checked + .form-check-label::before {
    background-color: var(--primary-color-bg);
    color: white;
}

.form-check-input.is-invalid ~ .form-check-label::before,
.was-validated .form-check-input:invalid ~ .form-check-label::before {
    border: 3px solid var(--bs-form-invalid-color);
}

.form-control.is-valid,
.was-validated .form-control:valid,
.was-validated .form-control:valid:focus {
    border-color: inherit;
    background-image: inherit;
    box-shadow: none;
}

/* ------------------------------End form-------------- */
/*----------- Стилизация nav bar ------------------*/
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand_main {
    margin-right: 41px;
}

.offcanvas-header .navbar-brand {
    margin: 0 auto 0px;
}

.navbar-nav li a {
    padding: 8px;
    display: block;
    text-decoration: none;
    border-radius: 8px;
    line-height: 100%;
    transition: 0.2s ease all;
    text-align: center;
}

.navbar-nav li a,
.navbar-nav:hover li.active a {
    color: var(--mobile-menu-color);

    transition: 0.2s ease all;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    background-color: var(--header-nav-bg-mobile-active);
    transition: 0.2s ease all;
}

.navbar-nav li {
    margin-bottom: 16px;
}

.offcanvas {
    color: var(--header-nav-color);
}

@media screen and (min-width: 992px) {
    .navbar-nav li a {
        color: var(--header-nav-color);
    }

    .navbar-nav:hover li.active a {
        background: transparent;
        transition: 0.2s ease all;
    }

    .navbar-nav li {
        padding: 0 7px;
        margin: 0;
    }
}

.navbar-nav li a:hover,
.navbar-nav li.active a,
.navbar-nav:hover li.active a:hover {
    background: transparent;
    color: var(--primary-color);
    transition: 0.3s ease all;
}

/* Стили меню */
.navbar-nav {
    position: relative;
    display: flex;
    /* background: #fff; */
    border-radius: 8px;
    overflow: hidden;
    /* скрываем выступающие части подложки */
}

/* Стили пунктов меню */
.navbar-nav a {
    position: relative;
    padding: 15px 25px;
    text-decoration: none;
    color: var(--primary-color);
    z-index: 1;
    /* размещаем текст поверх подложки */
    transition: color 0.3s ease;
}

.navbar-nav li.active {
    color: var(--primary-color);
}

/* Подложка для hover эффекта */
.hover-bg {
    position: absolute;
    top: 0px;
    /* создаём небольшой отступ сверху и снизу для эффекта с закруглением */
    left: 0;
    width: 0;
    height: calc(100%);
    background: var(--primary-color-bg);
    border-radius: 8px;
    transition: all 0.3s ease;
    z-index: 0;
}

@media screen and (max-width: 991px) {
    .offcanvas {
        background: var(--mobile-menu-bg);
        color: var(--header-nav-color-mobile);
    }

    .offcanvas-bottom {
        border-top: 1px solid var(--mobile-menu-line-color);
        border-bottom: 1px solid var(--mobile-menu-line-color);
    }

    .navbar-brand_main svg {
        width: 86px;
        height: 67px;
    }
    .navbar-brand_main {
        margin: 0;
    }
}

.btn-close {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-secondary {
    line-height: 140% !important;
    background: var(--bg-info);
    padding: 36px 40px;
    border: var(--border-info);
}

/*----------- конец Стилизация nav bar ------------------*/
.f-carousel__slide {
    width: auto;
    margin-right: 5px;
}

/* .f-carousel__track {
    transition: 1.5s ease-out transform;
} */

.swiper-pagination-bullet {
    height: 11px;
    width: 11px;
    background: var(--primary-color-bg);
    opacity: 0.5;
    list-style-type: none;
    border-radius: 50%;
    margin: 0 3px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    height: 16px;
    width: 16px;
}

table,
td,
th {
    border: 1px solid #e2e8f0;
    padding: 8px 13px 7px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #0f172a;
}

th {
    font-weight: bold;
}

table tr:nth-child(2n) {
    background: #f1f5f9;
}

.contact-icon-wrap {
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-carousel__slide,
.offers__item {
    transition: ease 0.5s all;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
    /* Равномерное движение */
}

blockquote p:last-child {
    margin-bottom: 0;
}
