@media screen and (max-width:1320px) {
    .container-fluid {
        padding: 0 19px;
    }
}


.border-light {
    border-color: var(--bs-border-light)
}

.rounded-4-1 {
    border-radius: 1.125rem;
}

/* -------------line height------------------- */
.lh-sm {
    line-height: 1.4;
}

p {
    margin-bottom: 1.5rem;
}

/* -------------end line height------------------- */

/* pdiings */

.padding-y-base {
    padding: var(--padding-base-y) 0;
}

@media screen and (max-width:991px) {
    .padding-y-base {
        padding: var(--padding-base-y-mobile) 0;
    }
}

/* border */
.border-base {
    border: var(--border-base)
}

.bg-info {
    background: var(--bg-info) !important;
}

/* стилизация контакта в header */
.contact-info {
    border: 1px solid var(--bs-border-light);
    padding: 6px 19px 6px 12px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: var(--header-color);
    text-decoration: none;
}

@media screen and (max-width:991px) {
    .contact-info {
        padding: 8px 22px 8px 18px;
        background: #3E3E3E;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 97px;
        margin-bottom: 12px;
        display: flex;
    }

}

@media screen and (max-width:991px) {
    .contact-info {
        color: var(--mobile-menu-color);
    }
}

/*-------------- Headers --------------------*/

h1,
.h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 120%;
    text-transform: uppercase;
}

h2,
.h2 {

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    letter-spacing: 0.015em;

}

@media screen and (max-width:991px) {

    h1,
    .h1 {
        font-size: 19px;
        line-height: var(--line-height-sm);
        letter-spacing: -0.02em;
    }

    h2,
    .h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: var(--line-height-sm);
        letter-spacing: -0.02em;

    }

}

/*--------------- End headers------------------ */
.text-info {
    color: var(--text-gray) !important;
}

.text-primary {
    color: var(--text-prymary) !important;
}

/*-------------- Buttons --------------------*/
.btn-primary {
    background-color: var(--primary-color-bg);
    color: var(--primary-color);
    line-height: 1;
    padding: 12px 50px;
    border-radius: var(--rounded-base);
}




/*--------------- End buttons------------------ */
/* ---------------------------Form==================== */
.form-check-input {
    font-size: 14px;
    line-height: 140%;
}

.form-control {
    padding: 0.375rem 1rem;
}

textarea.form-control {
    min-height: 80px;
}

.form-check-input {
    height: 16px;
    width: 16px;
}

.form-check-input,
.form-check-input:focus {
    margin-right: 9px;
    border: 1px solid var(--bg-secondary);
}

.form-check-input:checked[type=checkbox],
.form-check-input:focus {

    outline: 0;
    box-shadow: none;
}

.form-check-input:checked[type=checkbox] {
    background-color: var(--bg-secondary);
}

.form-check-label {
    font-size: 14px;
    line-height: 140%;
}

/* ------------------------------End form-------------- */
/*----------- Стилизация nav bar ------------------*/

.navbar-brand {
    margin-right: 41px;
}

.offcanvas-header .navbar-brand {
    margin: 0 auto 0px;
}

.navbar-nav li a {
    padding: 8px;
    display: block;
    text-decoration: none;
    border-radius: 8px;
    line-height: 100%;
    color: var(--mobile-menu-color);
    text-align: center;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    background-color: var(--header-nav-bg-mobile-active);
}

.navbar-nav li {
    margin-bottom: 16px;
}

.offcanvas {
    color: var(--header-nav-color);
}

@media screen and (min-width:992px) {
    .navbar-nav li a {
        color: var(--header-nav-color);
    }

    .navbar-nav li {
        margin: 0 7px;
    }

    .navbar-nav li a:hover,
    .navbar-nav li.active a {
        background: var(--primary-color-bg);
        color: var(--primary-color);
    }
}

@media screen and (max-width:991px) {
    .offcanvas {
        background: var(--mobile-menu-bg);
        color: var(--header-nav-color-mobile);
    }

    .offcanvas-bottom {
        border-top: 1px solid var(--mobile-menu-line-color);
        border-bottom: 1px solid var(--mobile-menu-line-color);
    }

    .navbar-brand img {
        height: 66px;
    }
}

.btn-close {
    background-image: url(../images/close.png);
    background-size: contain;
    height: 15px;
    width: 15px;
}

.text-secondary {
    line-height: 140% !important;
    background: var(--bg-info);
    padding: 36px 40px;
    border: var(--border-info);
}

/*----------- конец Стилизация nav bar ------------------*/
.f-carousel__slide {
    width: auto;
    margin-right: 5px;
    
}