.bg-email {
    display: block;
    width: 21px;
    height: 21px;
    background: url(../images/css_sprites.png) -106px -54px;
}

.bg-location_white {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/css_sprites.png) -62px -10px;
}

.bg-phone_white {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/css_sprites.png) -10px -62px;
}

.bg-email {
    display: block;
    width: 21px;
    height: 21px;
    background: url(../images/css_sprites.png) -10px -106px;
}

.bg-close {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../images/css_sprites.png) -10px -10px;
}

.bg-email_white {
    display: block;
    width: 22px;
    height: 18px;
    background: url(../images/css_sprites.png) -92px -106px;
}

.bg-location_white {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/css_sprites.png) -54px -62px;
}

.bg-location {
    display: block;
    width: 14px;
    height: 19px;
    background: url(../images/css_sprites.png) -150px -48px;
}

.bg-phone {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/css_sprites.png) -150px -10px;
}

.bg-phone_mobile {
    display: block;
    width: 21px;
    height: 21px;
    background: url(../images/css_sprites.png) -51px -106px;
}

.bg-phone_white {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/css_sprites.png) -106px -10px;
}

.bg-phone_mobile {
    display: block;
    width: 13px;
    height: 12px;
    background: url(../images/css_sprites.png) -10px -147px;
}

.bg-time {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/css_sprites.png) -150px -87px;
}

.bg-footer__phone {
    display: block;
    width: 20px;
    height: 21px;
    background: url(../images/footer_sprites.png) -50px -10px;
}

.bg-footer__email {
    display: block;
    width: 20px;
    height: 24px;
    background: url(../images/footer_sprites.png) -10px -10px;
}

.bg-advantag1 {
    width: 26px;
    height: 47px;
    background: url(../images/adv_sprites.png) -140px -66px;
}

.bg-advantag2 {
    width: 45px;
    height: 47px;
    background: url(../images/adv_sprites.png) -10px -10px;
}

.bg-advantag3 {
    width: 45px;
    height: 47px;
    background: url(../images/adv_sprites.png) -75px -10px;
}

.bg-advantag4 {
    width: 41px;
    height: 47px;
    background: url(../images/adv_sprites.png) -10px -75px;
}

.bg-advantag5 {
    width: 50px;
    height: 47px;
    background: url(../images/adv_sprites.png) -140px -10px;
}

.bg-calc1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/calc_sprites.png") -58px -56px;
    margin-left: 9px;
}

.bg-calc2 {
    display: block;
    margin-left: 9px;
    width: 11px;
    height: 21px;
    background: url("../images/calc_sprites.png") -106px -10px;
}

.bg-calculate1 {
    width: 28px;
    height: 18px;
    background: url("../images/calc_sprites.png") -58px -10px;
}

.bg-calculate2 {
    width: 28px;
    height: 20px;
    background: url("../images/calc_sprites.png") -10px -10px;
}

.bg-calculate3 {
    width: 27px;
    height: 21px;
    background: url("../images/calc_sprites.png") -10px -58px;
}