@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "sprite.css";
@import "variables.css";
@import "customer.css";

/* ----------Начало стилизации баннера------------ */
.banner {
    background: url(../images/banner-bg.webp) no-repeat center;
    background-size: cover;
    padding: 240px 0;
}

.banner__header {
    color: var(--color-secondary);
    margin-bottom: 28px;
    max-width: 530px;
}

.banner__text {
    line-height: 140%;
    color: var(--color-secondary);
    max-width: 453px;
    letter-spacing: 0.005em;
    margin-bottom: 43px;
}

.banner__btn {
    width: 263px;
}

@media screen and (max-width: 991px) {
    .banner {
        padding: 113px 0;
    }

    .banner__header {
        margin-bottom: 25px;
        letter-spacing: -0.02em;
    }

    .banner__text {
        margin-bottom: 25px;
        font-size: 14px;
    }

    .banner__btn {
        font-size: 14px;
        line-height: 14px;
        padding: 12px 0;
        width: 203px;
    }
}

/* ----------Конец стилизации баннера------------ */

/* ----------Начало стилизации партнеры------------ */
.partners {
    background-color: var(--bg-info);
    padding: 38px 0;
    border-bottom: var(--border-base-2);
}

.partners__content {
    background-color: var(--color-secondary);
    border: var(--border-content);
    width: 467px;
    max-width: 100%;
    padding: 13px 36px 31px 28px;
    margin-right: 21px;
    border-radius: 8px;
}

.partners__header {
    color: var(--text-prymary);
    margin-bottom: 14px;
}

.partners__item {
    width: 198px;
    height: 94px;
    background: var(--color-secondary);
    border: var(--border-content-2);
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners__item img {
    max-width: 100%;
    max-height: 100%;
}

.partners__items {
    position: relative;
    overflow: hidden;
}

.partners__items::before,
.partners__items::after {
    content: "";
    display: block;
    width: 156px;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 5;
    background: linear-gradient(270deg, rgba(248, 248, 248, 0) 0%, var(--bg-info) 97.44%);
}

.partners__items::before {
    left: -8px;
}

.partners__items::after {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    right: -8px;
}

@media screen and (max-width: 1199px) {
    .partners__content {
        width: 390px;
    }
}

@media screen and (max-width: 991px) {
    .partners__content {
        margin-right: 0;
        max-width: 100%;
        width: 467px;
        margin-bottom: 22px;
        border-radius: 14px;
        padding: 17px 22px;
    }

    .partners__content p {
        line-height: 134% !important;
    }

    .partners {
        padding: 20px 0;
    }

    .partners__header {
        margin-bottom: 13px;
    }

    #partnersCarousel {
        margin-bottom: 12px;
    }
}

/* ----------конец стилизации партнеры------------ */

/* ----------------Стилизация предложения-------------------- */
.offers__item {
    border: var(--border-base);
    height: 350px;
    width: 100%;
    margin-bottom: 45px;
}

.offers__item-info {
    color: var(--text-gray);
}

.offers__item:hover {
    background: var(--primary-color-bg);
    color: var(--primary-color);
}

.offers__item-header {
    margin-top: 7px;
    margin-bottom: 10px;
    line-height: 38px;
    color: var(--text-prymary);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    letter-spacing: 0.015em;
}

.offers__item:hover .offers__item-info,
.offers__item:hover .offers__item-header {
    color: var(--primary-color);
}

.offers__header {
    margin-bottom: 34px;
}

.offers__info {
    margin-bottom: 54px;
}

.offers__more {
    max-width: 800px;
    margin: 10px auto 0;
}

@media screen and (max-width: 991px) {
    .offers__header {
        margin-bottom: 23px;
    }

    .offers__info {
        line-height: var(--body-line-height-xl);
        margin-bottom: 33px;
    }

    .offers__more {
        max-width: 800px;
        margin: 16px auto 0;
        line-height: var(--body-line-height-xl);
    }
}

@media screen and (max-width: 767px) {
    .offers__item {
        margin-bottom: 20px;
    }
}

/* ------------------------------------------- */
.bottling {
    padding: var(--padding-base-y) 0;
}

.bottling__content {
    padding-right: 26px;
}

.bottling__content p {
    line-height: 175%;
    margin-bottom: 23px;
}

.bottling__image {
    margin-bottom: 40px;
}

.bottling__image img {
    max-width: 100%;
}

.bottling__video {
    background: url(../images/video-bg.webp) no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: var(--rounded-2xl);
}

.bottling__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;

    background: rgba(255, 255, 255, 0.1);
    border: 4.43182px solid var(--color-secondary);
    backdrop-filter: blur(11.8182px);
    border-radius: 50%;
    transition: ease 0.5s all;
    position: relative;
    z-index: 8;
}

.bottling__video:hover .bottling__play {
    transform: scale(1.29);
    transition: ease 0.5s all;
}

.bottling__video::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0);
    top: 0;
    left: 0;
}

.bottling__video:hover::after {
    background: rgba(51, 51, 51, 0.2);
}

@media screen and (max-width: 991px) {
    .bottling {
        padding: var(--padding-base-y-mobile) 0;
    }

    .bottling__video {
        height: 359px;
    }

    .bottling__content {
        padding-right: 0;
    }

    .bottling__content p:last-child {
        margin-bottom: 0;
    }

    .bottling__image {
        padding: 0;
    }

    .bottling__image img {
        min-height: 178px;
        object-fit: cover;
    }

    .bottling__container {
        padding: 0;
    }

    .bottling .row {
        margin: 0;
    }

    .bottling__header {
        line-height: var(--line-height-sm);
    }

    .bottling {
        padding-bottom: var(--padding-base-y-mobile);
    }
}

/* =========================================================== */
.combiblock {
    position: relative;
    background:
        linear-gradient(90deg, rgba(33, 141, 210, 0.17) 20.62%, var(--primary-color-bg) 47.47%),
        url(../images/combiblock.webp) no-repeat,
        var(--primary-color-bg);
    padding: 133px 0 110px;
    background-repeat: no-repeat;
}

.combiblock__header {
    margin-bottom: 20px;
}

.combiblock p {
    line-height: var(--body-line-height-xl);
}

.combiblock__btn {
    width: 263px;
}

@media screen and (max-width: 991px) {
    .combiblock {
        background: linear-gradient(0.83deg, rgba(33, 141, 210, 0.17) 11.25%, var(--primary-color-bg) 53.8%),
            url(../images/combiblock.webp), var(--primary-color-bg);
        background-size: cover;
        padding: 79px 0;
    }

    .combiblock__header.combiblock__header {
        line-height: 38px;
        margin-bottom: 18px;
    }
}

/* ------------------individual */
.individual {
    padding: var(--padding-base-y) 0;
}

.individual__img {
    border-radius: var(--rounded-base);
    max-width: 100%;
}

.individual__header {
    margin-bottom: 13px;
}

@media screen and (min-width: 992px) {
    .individual p {
        margin-bottom: 0;
    }

    .individual__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 991px) {
    .individual {
        padding: var(--padding-base-y-mobile) 0;
    }

    .individual__header {
        margin-bottom: 25px;
    }

    .individual__img {
        min-height: 276px;
        object-fit: cover;
    }
}

/* --------------------Contacts---------------- */
.contacts {
    padding: 107px 0 73px;
    background-color: var(--bg-secondary);
}

.contacts__info {
    margin-bottom: 61px;
}

.contacts__icon {
    width: 56px;
    height: 56px;
    background: #24a4f5;
    border: 8px solid #218dd2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.contacts__item-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 16px;
    text-align: center;
    margin-bottom: 6px;
}

.contacts__header {
    color: var(--primary-color);
}

@media screen and (max-width: 991px) {
    .contacts {
        padding: 74px 0 41px;
    }

    .contacts__header {
        margin-bottom: 37px;
    }

    .contacts__info {
        margin: 0 auto 53px;
        max-width: 238px;
        line-height: var(--body-line-height-xl);
    }

    .contacts__item {
        margin-bottom: 16px;
    }
}

/*_____________________ News___________________ */
.news {
    padding: var(--padding-base-y) 0;
}

.news__header {
    margin-bottom: 31px;
}

.news__item {
    border: var(--border-base);
    border-radius: var(--rounded-base);
    padding: 24px 24px 31px;
}

news__item-header {
    margin-bottom: 2px;
}

.news__item-image {
    border-radius: var(--rounded-base);
    overflow: hidden;
    margin-bottom: 33px;
    border-radius: 8px;
    overflow: hidden;
    height: 240px;
}

.news__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__item-type {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-color-bg);
    margin-bottom: 13px;
}

.news__item-header {
    margin-bottom: 13px;
}

@media screen and (max-width: 991px) {
    .news {
        padding: var(--padding-base-y-mobile) 0;
    }

    .news__header {
        margin-bottom: 28px;
    }

    .news__item-image {
        min-height: 200px;
    }

    .news__item-image img {
        min-height: 200px;
        object-fit: cover;
    }

    .news__item-type {
        position: relative;
        display: inline-block;
        padding: 4px 10px;
    }

    .news__item-type::before {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        content: "";
        background: var(--primary-color-bg);
        opacity: 0.2;
        top: 0;
        left: 0;
        position: absolute;
        display: block;
    }
}

@media screen and (max-width: 565px) {
    .news__content {
        padding: 0 30px 0 7px;
    }

    .news__item {
        padding: 13px 16px 10px;
    }

    .news__item-header {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        margin-bottom: 22px;
    }

    .news__item-image {
        margin-bottom: 25px;
    }

    .news__date {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #97989f;
        margin-bottom: 12px;
    }
}

/* Contact form */
.contact-form {
    margin-bottom: 49px;
}

.contact-form .form-check-label::before {
    border-color: var(--bg-secondary);
}

.contact-form .form-check-input:checked + .form-check-label::before {
    background-color: var(--bg-secondary);
}

.contact-form__row {
    border: var(--border-base-2);
    border-radius: var(--rounded-base);
    color: var(--text-prymary);
    overflow: hidden;
    background: url(../images/contact-form.webp) no-repeat right center;
    background-size: auto 100%;
}

@media screen and (min-width: 1200px) {
    .contact-form__row {
        background-size: 67%;
    }
}

.contact-form__content {
    padding: 21px 25px 44px 21px;
    background: var(--bs-body-bg);
    /* border: var(--border-base-2);
    max-width: 440px; */
}

.contact-form__header {
    margin-bottom: 0;
    letter-spacing: 0;
}

.contact-form__info {
    margin-bottom: 21px;
}

.form-item {
    margin-bottom: 24px;
}

.contact-form__btn {
    margin-top: 19px;
}

.contact-form_inner {
    padding-top: var(--padding-base-y);
}

@media screen and (max-width: 991px) {
    .contact-form__header {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
    }
    .contact-form_inner {
        padding-top: var(--padding-base-y-mobile);
    }
}

@media screen and (min-width: 768px) {
    .contact-form__content {
        /* padding: 24px 25px 44px 21px; */
        background: var(--bs-body-bg);
        border: var(--border-base-2);
        max-width: 440px;
    }
}

.form-item__agree {
    margin-top: 24px;
}

/*____________________footer___________________ */
.footer {
    background: var(--bg-secondary);
}

.footer__top {
    border-bottom: var(--border-secondary);
    padding: 36px 0;
}

.footer__contacts {
    display: flex;
    border: var(--border-secondary);
    border-radius: 20px;
    padding: 3px;
    width: 474px;
}

.footer__contacts span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer__phone,
.footer__email {
    display: flex;
    align-items: center;
    text-decoration: 0;
}

.footer__phone,
.footer__email {
    padding: 4px 19px 6px;
    border-radius: 20px;
}

.footer__email {
    margin-right: 10px;
}

.footer__email,
.footer__contacts:hover .footer__phone {
    color: var(--bg-secondary);
    background: var(--color-secondary);
}

.footer__email span,
.footer__contacts:hover .footer__phone span {
    background: var(--bg-secondary);
}

.footer__email span path,
.footer__contacts:hover .footer__phone path {
    fill: var(--color-secondary);
}

.footer__contacts:hover .footer__email,
.footer__phone {
    color: var(--color-secondary);
    background: var(--bg-secondary);
}

.footer__contacts:hover .footer__email span,
.footer__phone span {
    background: var(--color-secondary);
}

.footer__contacts:hover .footer__email span path {
    fill: var(--bg-secondary);
}

.footer__menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
    justify-content: flex-end;
}

.footer__menu li {
    list-style-type: none;
    margin-left: 32px;
}

.footer__menu a {
    color: var(--color-secondary);
    text-decoration: none;
    letter-spacing: 0.015em;
}

.footer__bottom {
    padding: 22px 0 69px;
}

.footer__privacy {
    color: var(--color-secondary);
    margin-bottom: 3px;
}

.footer__rights,
.footer__info {
    color: var(--color-secondary-2);
}

.footer__rights {
    margin-bottom: 8px;
    letter-spacing: 0.01em;
}

.footer__info {
    max-width: 585px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 9px;
}

.footer__left {
    max-width: 100%;
}

@media screen and (max-width: 1199px) {
    .footer__menu li {
        margin-left: 0;
    }

    .footer__menu {
        justify-content: space-between;
        padding-left: 0;
    }
}

@media screen and (max-width: 991px) {
    .footer__logo {
        display: block;
        margin-bottom: 8px;
    }

    .footer__logo img {
        width: 150px;
    }

    .footer__top {
        padding: 3px 0 28px;
    }
}

/* ____________________________NewsPage___________________________ */
.banner__header_news {
    max-width: unset;
}

.banner_news {
    padding: 128px 0 82px;
}

/* News list */
.news-list {
    padding: var(--padding-base-y) 0 0;
}

.news-list .news__item {
    margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
    .news-list {
        padding: var(--padding-base-y-mobile) 0 0;
    }
}

/* Pagination */
.pagination {
    margin-top: 31px;
}

.pagination ul {
    display: flex;
    padding: 0;
    justify-content: center;
    width: 100%;
}

.pagination li {
    list-style-type: none;
    margin: 0 5px;
}

.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    color: #4b4f59;
    text-decoration: none;
}

.pagination li.active a,
.pagination li a:hover {
    background: var(--primary-color-bg);
    color: var(--primary-color);
}

.pagination li a:hover path {
    stroke: var(--primary-color);
}

.offers__slider .f-carousel__slide {
    width: 336px;
    padding: 0 12px;
}

.offers_inner {
    padding-top: 100px;
    padding-bottom: 112px;
}

.offers_inner .f-carousel__dots {
    bottom: 0px;
}

@media screen and (max-width: 991px) {
    .offers_inner {
        padding: var(--padding-base-y-mobile) 0;
    }

    .offers__slider .f-carousel__slide {
        width: 290px;
    }
}

@media screen and (max-width: 767px) {
    .offers__slider .f-carousel__slide.is-selected .offers__item {
        transform: translateY(-34px);
        transition: ease 0.5s all;
    }

    .offers__slider .f-carousel__viewport {
        margin-top: -14px;
        padding: 34px 0;
    }

    .offers_inner .f-carousel__dots {
        bottom: 52px;
    }

    .offers__conteiner_inner {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .offers__slider .f-carousel__slide.is-selected .offers__item .offers__item-info,
    .offers__slider .f-carousel__slide.is-selected .offers__item .offers__item-header {
        color: var(--primary-color);
    }

    .offers__slider .f-carousel__slide.is-selected .offers__item {
        background: var(--primary-color-bg);
        color: var(--primary-color);
    }
}

/* __________________________Case page______________________________ */
.banner__header_case {
    color: var(--primary-color);
    letter-spacing: 0.09em;
    line-height: 135%;
    margin-bottom: 14px;
}
@media screen and (max-width: 992px) {
    .banner_case {
        padding: 93px 0 114px;
    }
}

.bottling table td:first-child {
    width: 594px;
    max-width: 100%;
}

.bottling table {
    margin-top: 62px;
    margin-bottom: 50px;
}

.bottling-case {
    padding: var(--padding-base-y) 0 88px;
}
@media screen and (min-width: 992px) {
    .bottling__content-case p:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 991px) {
    .bottling-case {
        padding: 31px 0 65px;
    }
    .bottling__content-case {
        padding: 0 7px;
    }
    .bottling__header-case {
        margin-bottom: 32px;
    }
    .bottling__content-case p:last-child {
        margin-bottom: 32px;
    }
    .bottling table {
        margin-top: 29px;
    }
    .bottling .text-info {
        padding: 0 17px;
    }
}

/* Advantage */

.advantages {
    padding: 34px 0px;
    background: var(--primary-color-bg);
}

.advantages__icon {
    margin: 0 auto 25px;
}

.advantages__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--primary-color);
    max-width: 169px;
    margin: 0 auto;
}
@media screen and (max-width: 991px) {
    .advantages__item {
        margin-bottom: 84px;
    }
    .bottling table td:first-child {
        width: auto;
        max-width: 100%;
    }
    .advantages {
        padding: 53px 0px 50px;
    }
    .advantages__text {
        max-width: 194px;
    }
}
@media screen and (max-width: 565px) {
    .bottling__table {
        overflow: auto;
        margin-bottom: 28px;
    }
    .bottling__table table {
        margin-bottom: 28px;
        white-space: nowrap;
    }
}
/*------------- Calculation----------- */
.calculation {
    padding: var(--padding-base-y) 0;
}

.calculation__header {
    letter-spacing: -0.005em;
    margin-top: 29px;
    margin-bottom: 20px;
}

.calculation p {
    line-height: 140%;
}

.calculation__advanteges {
    position: relative;
    margin-top: 66px;
}

.calculation__advanteges::after {
    content: "";
    height: 100%;
    display: block;
    position: absolute;
    right: -12px;
    top: 0;
    width: 177px;
    background: linear-gradient(270deg, rgba(248, 248, 248, 0) 33.33%, var(--bg-info) 97.44%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.calculation__advanteges-item {
    background: var(--primary-color-bg);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(84.5593px);
    border-radius: var(--rounded-base);
    width: 243px;
    min-width: 243px;
    height: 157px;
    padding: 20px 20px 16px 21px;
    margin-right: 26px;
}

.calculation__advanteges-item:last-of-type {
    margin-right: 0;
}

.calculation__item-title {
    font-weight: 400;
    line-height: 1 !important;
    color: var(--primary-color);
    max-width: 141px;
    margin-bottom: 0;
}

.calculation__item-count {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: var(--primary-color);
    margin-bottom: 0;
}

.calculation__item-icon {
    width: 40px;
    height: 40px;
    background: var(--primary-color-bg);
    border: 1px solid var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.calculation__calculate {
    padding: 27px 15px 27px 24px;
    border: var(--border-base-2);
    border-radius: var(--rounded-base);
    background: var(--bs-body-bg);
    position: relative;
}

.calculation__calculate-subtitle {
    font-weight: 400;
    line-height: 140%;
    color: var(--text-gray);
}

.calculation__step {
    margin-bottom: 25px;
    height: 328px;
}

.calculation__step-header {
    margin-bottom: 20px;
    letter-spacing: 0;
}

.calculate__var label {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ffffff;
    border: var(--border-base-2);
    border-radius: 7px;
    color: var(--text-prymary);
    margin-bottom: 9px;
}

.calculate__var input {
    display: none;
}

.calculate__var input:checked + label {
    position: relative;
    border: 1px solid var(--primary-color-bg);
}

.calculate__var input:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-bg);
    opacity: 0.2;
}

.calculation__step-value {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 0;
    color: rgba(60, 60, 67, 0.29);
}

.calculate__prev {
    margin-right: 10px;
}

.calculation__step-image {
    margin-bottom: 13px;
}

.calculation__step-image img {
    min-height: 103px;
    max-width: 100%;
    object-fit: cover;
}

.calculate__var-wrap {
    max-height: 228px;
    overflow: auto;
}

.calculation__btn {
    width: 241px;
}

.calculate__label-volume {
    margin-bottom: 22px;
}

.calculate__contact-form .form-item {
    margin-bottom: 9px;
}

.calculate__contact-form .form-check-input:checked + .form-check-label::before {
    color: var(--primary-color-bg);
    background: transparent;
}
@media screen and (max-width: 991px) {
    .calculation {
        padding: 65px 0 30px;
    }
    .calculation__step-header {
        margin-bottom: 11px;
    }
    .calculation__step {
        margin-bottom: 19px;
    }
    .calculation__step-value {
        margin-top: 11px;
    }
    .calculation__calculate {
        padding-bottom: 18px;
    }
}
/*================================Case form================ */

.form-case__container {
    padding-top: 50px;
    padding-bottom: 29px;
    background: linear-gradient(270deg, rgba(33, 141, 210, 0) 22.97%, #218dd2 57.99%), url(../images/case-contact.png),
        #218dd2;
    margin-bottom: var(--padding-base-y);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: auto 100%;
    border-radius: var(--rounded-base);
    max-width: 1296px;
}

.form-case p {
    color: var(--primary-color);
}

.form-case__btn {
    background: #0071b9;
}

.form-case__check::before {
    border: 1px solid #0071b9;
    background-color: white;
}

.form-check-input:checked + .form-case__check::before {
    background-color: #0071b9;
}

.form-case__header {
    margin-bottom: 2px;
    letter-spacing: 0;
}

.form-case__info {
    margin-bottom: 24px;
}

.form-case__input {
    margin-bottom: 15px;
}

.form-case .form-item__agree {
    margin-top: 11px;
}
@media screen and (max-width: 1400px) {
    .form-case {
        margin: 0 18px;
    }
}
@media screen and (max-width: 992px) {
    .form-case__container {
        padding-top: 26px;
        padding-bottom: 22px;
        border-radius: 15px;
        margin-bottom: 95px;
        background-position: center;
        background-size: cover;
        background: linear-gradient(202.13deg, rgba(33, 141, 210, 0) -5.06%, var(--primary-color-bg) 65.81%),
            url("../images/case-contact.png"), var(--primary-color-bg);
        background-repeat: no-repeat;
        background-position: right 59% bottom 39px;
    }
    .form-case .form-item__agree {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 575px) {
    .form-case__check {
        font-weight: 400;
        font-size: 11px;
    }
}
